body {
    font-family: 'Source Code Pro', sans-serif;
}

#workspace rect {
    stroke: #555;
    stroke-width: 2px;
    background-color: white;
    text-align: center;
    padding: 5px;
    fill: #666;
}

#workspace rect.selected {
    fill: #777;
    stroke: #666;
}

#workspace line {
    stroke: steelblue;
    stroke-width: 2;
}

#workspace line.pin {
    stroke: #555;
    stroke-width: 4;
}

#workspace circle.selection-background {
    fill: #ff3c00;
    opacity: 0;
}

#workspace circle.selection-background:hover {
    opacity: .3;
}

#workspace circle.selected {
    opacity: .3;
}

#workspace line.selected {
    stroke-width: 8;
}

#workspace line.pin.connected {
    stroke: steelblue;
}

#workspace circle {
    fill: steelblue;
    r: 3;
}
#main {
    width: 800px;
}
#workspace {
    float:left;
    margin:0;
    width:66%;
    background: #2B2B2B;
    border: 1px solid #555555;
    height: 400px;
    position: relative;
}

#buttons {
    float:left;
    margin: 0;
    position: relative;
    height: 20px;
    padding-bottom: 5px;
}

#chat {
    font-size: 12px;
    float:left;
    margin:0;
    width:33%;
    height: 375px;
    background: #999;
    position: relative;
    overflow: scroll;
}

#nameInput, #messageInput {
    width: 45%;
}

.component-list {
    width: 80%;
    list-style-type:none;
}

.component-list li {
    background: #444444;
    padding: 5px 4px;
    display:inline;
    margin-bottom:15px;
    border-right: 1px solid #333;
    float:left;
}
.component-list li:last-child {
    border: none;
}

.component-list li:hover {
    background: #555555;
}

.logo {
    text-align: center;
    padding-top: 5px;
    color: steelblue;
    font-weight: bold;
}

#main-container {
    width: 960px;
    margin: 0 auto;
}

html {
    background: #444444;
}
