body {
    font-family: 'Source Code Pro', sans-serif;
}

#workspace rect {
    stroke: #555;
    stroke-width: 2px;
    background-color: white;
    text-align: center;
    padding: 5px;
    fill: #666;
}

#workspace rect.selected {
    fill: #777;
    stroke: #666;
}

#workspace line {
    stroke: steelblue;
    stroke-width: 2;
}

#workspace line.pin {
    stroke: #555;
    stroke-width: 4;
}

#workspace line.pin.connected {
    stroke: steelblue;
}

#workspace circle {
    fill: steelblue;
    r: 3;
}

#workspace {
    background: #2B2B2B;
    border: 1px solid #555555;
    height: 400px;
    width: 500px;
    display: block;
    margin: 0 auto;
}

#chat {
    position: relative;
    left: 900px;
    top: -400px;
    width: 166px;
    height: 400px;
    background: #FFFFFF;
}

#main {
    width: 800px;
}

html {
    background: #444444;
}
